body{
    margin: 2px;
    border: 10px solid rgb(3, 44, 7);
    color:rgb(3, 3, 87);
    font-family: Verdana;
    background-color: brown; 
    text-align:center }

    #inicio{background-color: rgb(211, 142, 142);color:blueviolet}

    #rodape{background-color: rgb(221, 187, 163);}


    


